<h1 class="text-center mt-4">Inicio de sesión</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(scope: :session, url: login_path, class: "shadow p-3 mb-3 bg-primary rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :email, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Introduce tu email" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :password, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Introduce tu contraseña" %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit "Iniciar Sesión", class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
    <div class="my-3">
      <%= link_to '[ Cancelar y volver al listado de artículos]', articles_path, class: "text-info" %>
    </div>
  </div>
</div> 