<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', item: @article%>
      <%= form_with(model: @article, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :title, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Título del artículo" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :description, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Descripción del artículo" %>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cbox| %>
            <%= cbox.label(class:"checkbox-inline input-checkbox ml-3") {cbox.check_box(class: "checkbox") + " " + cbox.text} %>
          <% end %>
        </div>
        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
    <div class="mb-3">
    <%= link_to '[ Cancelar y volver al listado de artículos ]', articles_path, class: "text-info" %>
    </div>
  </div>
</div>