<h1 class="text-center mt-4">Listando todos los artículos</h1>
<div class="apple_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
<%= render 'article', item: @articles%>
<div class="apple_pagination mb-4">
  <%= will_paginate @articles, :container => false %>
</div> 