
  <h2 class="text-center mt-4"><%= @article.title %></h2>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            por <%= @article.user.username if @article.user %>
          </div>
          <div class="card-body">
            <div class="card-text text-left"><%= simple_format(@article.description) %></div>
            <% if @article.categories.any? %>
              <p>Categorias: <%= render @article.categories %>
            <% end %>
            <br/> <br/>
            <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
              <%= link_to "Editar", edit_article_path(@article), class: "btn btn-outline-info" %>
              <%= link_to "Eliminar", article_path(@article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "¿Estás seguro?"} %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(@article.created_at) %> ago, 
            edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
