<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', item: @user %>
      <%= form_with(model: @user, class: "shadow p-3 mb-4 bg-info rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :username, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :username, class: "form-control shadow rounded", placeholder: "Introduce tu nombre de usuario" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :email, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Introduce tu email" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :password, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Elige tu contraseña" %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit(@user.new_record? ? "Registrarse" : "Actualizar cuenta", class: "btn btn-outline-light btn-lg") %>        </div>
      <% end %>
    </div>
    <div class="mb-4">
      <%= link_to '[ Cancelar y volver al listado de artículos ]', articles_path, class: "text-info" %>
    </div>
  </div>
</div> 