<h1 class="text-center mt-3">Probando Ruby</h1>

<div class="apple_pagination">
  <%= will_paginate @users, :container => false %>
</div>

<div class="container">
  <% @users.each do |user| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <%= link_to user.username, user %>
          </div>
          <div class="card-body">
            <p class="card-text"><%= pluralize(user.articles.count, "Artículo") %></p>
            <%= link_to "Ver perfil", user, class: "btn btn-outline-success" %>
            <% if logged_in?%>
              <% if user == current_user %>
                <%= link_to "Editar perfil", edit_user_path(user), class: "btn btn-outline-info" %>
              <% end %>
              <% if current_user.admin? %>
                <%= link_to "Eliminar perfil", user_path(user), class: "btn btn-outline-info", method: :delete, data: {confirm: "¿Estás seguro de que quieres eliminar el perfil y los articulos asociados?"} %>
              <% end %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="apple_pagination my-4">
  <%= will_paginate @users, :container => false %>
</div>