<h1 class="text-center my-3">Perfil de <%= @user.username %></h1>


<% if logged_in? && @user == current_user%>
  <div class="text-center mt-4">
    <%= link_to "Edita tu perfil", edit_user_path(@user), class: "btn btn-outline-info" %>
  </div>
<% end %>
<h3 class="text-center my-3">Artículos</h3>
<div class="apple_pagination mb-4">
  <%= will_paginate @articles, :container => false %>
</div> 
<%= render 'articles/article'%>

<div class="apple_pagination mb-4">
  <%= will_paginate @articles, :container => false %>
</div> 