<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">Práctica de Ruby on Rails</h1>
      <p class="lead">Unidad simple de jumbotron</p>
      <hr class="my-4">
      <p>Utiliza clases para la tipografía y para mantener el contenido en el área exterior</p>
      <%= link_to "Regístrate", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>
