<h1 align="center">Listando todas las categorías</h1>
<div align="center">
    <%= will_paginate @articles, :container => false %>
    <% @categories.each do |category| %>
        <ul class="listing">
            <div class="row">
                <div class="well col-md-8 col-md-offset-4 my-auto">
                    <li class="article-title">
                        <%= link_to category.name, category_path(category) %>
                    </li> 
                </div>
            </div>
        </ul>
    <% end %>
    <%= will_paginate @articles, :container => false %>
</div>