
<h1 class="text-center mt-4">Categoría: <%= @category.name %></h1>
<div class="apple_pagination">
  <% if logged_in? && current_user.admin? %>
    <%= link_to "Editar", edit_category_path(@category), class: "btn btn-outline-info" %>
  <% end %>
  <%= will_paginate @category_articles, :container => false %>
</div>
<%= render 'articles/article', item: @category_articles%>
<div class="apple_pagination mb-4">
  <%= will_paginate @category_articles, :container => false %>
</div> 