<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <%= link_to "Inicio", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownArticles" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Artículos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownArticles"">
          <% if logged_in? %>
            <%= link_to "Crear nuevo artículo", new_article_path, class: "dropdown-item" %>
          <% end %>
          <%= link_to "Mostrar artículos", articles_path, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item active">
        <%= link_to "Artículos", articles_path, class: "nav-link" %>
      </li>
      <% if logged_in? %>
      <li class="nav-item">
        <%= link_to "Usuarios", users_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Perfil <%= "(administrador)" if current_user.admin? %>- <%= current_user.username %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownUsers">
          <%= link_to "Mostrar perfil", user_path(current_user), class: "dropdown-item" %>
          <%= link_to "Editar perfil", edit_user_path(current_user), class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Eliminar perfil", user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: { confirmation: "¿Estás seguro?" }%>
        </div>
      </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categorías
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownUsers">
          <%= link_to "Ver todas las categorías", categories_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <% Category.all.each do |category| %>
          <%= link_to category.name, category_path(category), class: "dropdown-item" %>
          <% end %>
          <% if logged_in? && current_user.admin?%>
            <div class="dropdown-divider"></div>
            <%= link_to "Nueva categoría", new_category_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
        <li>
          <%= link_to "Cerrar Sesión", logout_path, class: "nav-link", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Iniciar Sesión", login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Registrarse", signup_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>